@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/google-sans?styles=20575,20581,20578,20576,20577,20573,20584,20582,20583,20574,20580,20579');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans';
}


/* ========================= CONTAINER DIV ========================= */
.container{
    display: flex;
    min-height: 100vh;
}


/* ========================= NAV DIV ========================= */
.nav{
    background-color: #F4F7FC;
    padding: 3%;
    height: 100vh;
}
.menu{
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
}

.menu:first-child{
    margin-top: 0;
}


/* ========================= STICKY NAV AND HEADER ========================= */
.nav, .row.header{
    position: sticky;
    top: 0;
    z-index: 100;
}

/* ========================= HEADER DIV ========================= */
.row.header{
    display: flex;
    padding: 3% 2%;
    background-color: white;
    color: #6a6a6a;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
}

#desktop .material-symbols-outlined{
    margin-left: 1em;
    font-size: 2.5rem;
}

.row.header span, .about-us span{
    font-weight: 200;
}

#mobile{
    display: none;
}


/* ========================= CONTENT DIV ========================= */
.content{
    width: 100%;
}

.row{
    padding: 3em 0 3em 0;
    margin-left: 10%;
    margin-right: 10%;
}


/* ========================= ROW CLASS ========================= */
.row.center{
    min-height: 100vh;
}

.row.footer{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1%;
    border: 1px solid black;
}

.about-us{
    margin: 2em;
    padding: 1%;
    width: 60%;
    font-size: 1.1em;
    border: 1px solid black;
}

.about-us h3{
    margin-bottom: 1em;
}


.contacts{
    margin: 2em;
    width: 40%;
    font-size: 1.1em;
    text-decoration: none;
}

.contacts li{
    display: flex;
    list-style: none;
    padding: 1em;
    border: 1px solid black;
    
}

.contacts li p{
    margin-left: 1em;
}


.sub-header{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}


/* ========================= MOTTO DIV ========================= */
.motto{
    border: 4px solid rgb(162, 162, 162);
    background-color: rgb(162, 162, 162);
    border-radius: 25px;
    padding-top: 15%;
    margin-bottom: 3rem;
    justify-content: center;
}

.motto p{
    margin: 1em;
    font-size: 270%;
    text-align: left;
    font-weight: 300;
    color: white;
}


/* ========================= BEST-SELLERS DIV ========================= */
.best-sellers{
    display: flex;
    margin-top: 1.5rem;
    padding: 0 5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.product{
    border: 4px solid darkblue;
    padding: 10rem;
    margin: 1rem;
}


/* ========================= REVIEW-BODY DIV ========================= */
.review-body{
    display: flex;
    justify-content: center;
}

.review-container{
    position: relative;
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

.review-content{
    position: relative;
    /* width: calc(100vw - 4rem); */
    padding: 2rem;
    margin: 1.5rem;
    overflow: hidden;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}

.arrow{
    position: absolute;
    top: 45%;
    background: white;
    border: 1px solid #6a6a6a;
    border-radius: 50%;
    cursor: pointer;
    color: grey;
    z-index: 99;
}

.arrow svg{
    pointer-events: none;
}

#arrow--right{
    right: .5%;
}

#arrow--left{
    left: .5%;
}

.reviews{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review{
    flex: 1 0 100%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    padding: 5%;
    display: grid;
    place-items: center;
    gap: 1.5rem;
   
}

.review__profile{
    border: 1px solid black;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem;
    border-radius: 50%;
    font-weight: 600;
}



/* ========================= WINDOW SIZE ========================= */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1440px) {
    .row{
        padding: 3em 0 3em 0;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 1024px) {
    .row{
        padding: 3em 0 3em 0;
        margin-left: 2%;
        margin-right: 2%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (width <= 950px) {

    .container{
        flex-direction: column;
        margin: 0;
    }

    .nav{
        display: flex;
        bottom: 0;
        order: 1;
        height: auto;
        justify-content: space-between;
        padding: 1.3em;
        font-size: 80%;
    }

    .row.header{
        text-align: center;
        padding: 2em;
        font-size: 1.3rem;
    }

    .row.header{
        text-align: center;
        padding: 2em;
        font-size: 1.3rem;
    }

    .menu{
        margin: 0em 1em;
        text-align: center;
    }

    .row{
        padding: 3em 0 3em 0;
        margin-left: 1%;
        margin-right: 1%;
    }

    .review-content{
        font-size: 1rem;
    }

    .product{
        border: 4px solid darkblue;
        padding: 8rem;
        margin: 2rem;
    }
    
    .row.footer{
        flex-wrap: wrap;
    }

    .about-us,.contacts{
        width: 100%;
        font-size: 1rem;
    }

    .row.header{
        display: flex;
        justify-content: space-between;
    }

    #desktop{
        padding: 6% 5%;
    }
    
    #desktop .material-symbols-outlined{
        margin-left: 1em;
        font-size: 2rem;
    }

    #desktop h1{
        font-size: 2rem;
    }

    .product{
        border: 4px solid darkblue;
        padding: 40%;
        margin: 0.5rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 415px) {
    #desktop{
        display: none;
    }

    #mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    #mobile h1{
        font-size: 150%;
    }

    .icons {
        display: flex;
        border: 1px solid black;
        align-items: center;
        gap: 5rem;
    }

    .icons.material-symbols-outlined{
        font-size: 150%;
        
    }

    .container{
        flex-direction: column;
        margin: 0;
    }

    .nav{
        display: flex;
        bottom: 0;
        order: 1;
        height: auto;
        justify-content: space-between;
        padding: 1.3em;
        font-size: 80%;
    }

    .row{
        padding: 3em 0 3em 0;
        margin-left: 0;
        margin-right: 0;
    }

    .row.header{
        text-align: center;
        padding: 5% 0%;
        font-size: 1rem;
    }

    .motto{
        margin: .5em;
        margin-bottom: 3em;
    }
    
    .motto p{
        margin: 1em;
        font-size: 1.3rem;
        text-align: left;
    }

    .review-content{
        max-width: 300px;
        font-size: 1rem;
    }

    .review__name, .review__body{
        font-size: 1em;
    }

    .sub-header{
        text-align: center;
        font-weight: 700;
        font-size: 1.6rem;
    }

    .product{
        border: 4px solid darkblue;
    }

    .row.footer{
        text-align: center;
       
    }
    
    .about-us{
        margin: 0;
        width: 100%;

        justify-content: center;
        font-size: .8em;
    }

    .contacts{
        width: 100%;
        font-size: .8rem;
    }
}

@media (max-width: 300px){
    #mobile .material-symbols-outlined{
        display: none;
    }
}